{
    "channels": {
        "role": "CHANNELID",
        "debug": "CHANNELID",
        "help": "CHANNELID"
    },
	"prefix": "!",
    "riotToken": "RIOT-API-TOKEN",
    "ranks": [
        "Iron",
        "Bronze",
        "Silver",
        "Gold",
        "Platinum",
        "Diamond",
        "Master",
        "Grandmaster",
        "Challenger"
    ],
    "discordToken": "DISCORD-API-TOKEN"
}