{
    "channels": {
        "role": "1251324121523523",
        "debug": "152123421341234125",
        "help": "13512342315151234"
    },
    "guildId": "125312342134234",
    "setVerifiedRole": true,
    "enableVerification": true,
    "discordToken": "DISCORD-API-TOKEN",
    "riotToken": "RIOT-API-TOKEN",
    "status": "@RankBot rank [ign]",
    "ranks": [
        "Iron",
        "Bronze",
        "Silver",
        "Gold",
        "Platinum",
        "Diamond",
        "Master",
        "Grandmaster",
        "Challenger"
    ],
    "region": "euw1",
    "timeZone": "Europe/Dublin",  
    "language": "de",
    "enableCronJob": true,
    "cronTab": "00 00 02 * * *",
    "concurrentRequests": 1,
    "requestTime": 250
}